[Unit]
Description=Simple Display Manager
After=network.target

[Service]
ExecStart=/usr/bin/sddm
Restart=always

[Install]
WantedBy=multi-user.target
